/*
Theme Name: Blennder Client
Author: Blennd Ninjas
Author URI: 
Theme URI:
Version: 1.0.0
Description: An experimental full site editing child theme.
Tags: full-site-editing, blog, one-column, two-columns, editor-style, block-styles
Text Domain: armandinho
Requires at least: 5.5
Requires PHP: 7.2
Tested up to: 5.8
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Template: blennder

All files, unless otherwise stated, are released under the GNU General Public
License version 2.0 (http://www.gnu.org/licenses/gpl-2.0.html)

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned
with others.
*/
